* text=auto !eol
/DESCRIPTION -text
/NAMESPACE -text
R/DatasetKey.R -text
R/Dimension.R -text
R/GetCodeList.R -text
R/GetCodeTree.R -text
R/GetData.R -text
R/GetHistory.R -text
R/GetMapping.R -text
R/MappingTableKey.R -text
R/Pivoting.R -text
R/PostRestCall.R -text
R/PutRestCall.R -text
R/SaveData.R -text
R/SaveValidation.R -text
R/zzz.R -text
