/*.tar.gz
/*.zip
/.RData
/.Rhistory
/.Rproj.user
R/*.tar.gz
R/*.zip
R/.RData
R/.Rhistory
R/.Rproj.user
R/devscripts
/devscripts
inst/*.tar.gz
inst/*.zip
inst/.RData
inst/.Rhistory
inst/.Rproj.user
inst/devscripts
inst/doc/*.tar.gz
inst/doc/*.zip
inst/doc/.RData
inst/doc/.Rhistory
inst/doc/.Rproj.user
inst/doc/devscripts
inst/release/*.tar.gz
inst/release/*.zip
inst/release/.RData
inst/release/.Rhistory
inst/release/.Rproj.user
inst/release/devscripts
man/*.tar.gz
man/*.zip
man/.RData
man/.Rhistory
man/.Rproj.user
man/devscripts
tests/*.tar.gz
tests/*.zip
tests/.RData
tests/.Rhistory
tests/.Rproj.user
tests/devscripts
tests/testthat/*.tar.gz
tests/testthat/*.zip
tests/testthat/.RData
tests/testthat/.Rhistory
tests/testthat/.Rproj.user
tests/testthat/devscripts
vignettes/*.tar.gz
vignettes/*.zip
vignettes/.RData
vignettes/.Rhistory
vignettes/.Rproj.user
vignettes/devscripts
