* text=auto !eol
/.Rhistory -text
/DESCRIPTION -text
/NAMESPACE -text
R/BlockMetadata.R -text
R/BlockMetadataSet.R -text
R/DatasetKey.R -text
R/Dimension.R -text
R/GetBlockMetadata.R -text
R/GetCodeList.R -text
R/GetCodeTree.R -text
R/GetData.R -text
R/GetHistory.R -text
R/GetMapping.R -text
R/GetRestCall.R -text
R/GetTableData.R -text
R/GetTestEnvironment.R -text
R/KeyDefinition.R -text
R/MappingTableKey.R -text
R/Metadata.R -text
R/MetadataElement.R -text
R/NullToNa.R -text
R/Pivoting.R -text
R/PostRestCall.R -text
R/PutRestCall.R -text
R/SaveBlockMetadata.R -text
R/SaveData.R -text
R/SaveValidation.R -text
R/SetTableData.R -text
R/buildModifiedCells.R -text
R/zzz.R -text
man/BlockMetadata-class.Rd -text
man/BlockMetadataSet-class.Rd -text
man/DatasetKey-class.Rd -text
man/Dimension-class.Rd -text
man/GetBlockMetadata.Rd -text
man/GetCodeList.Rd -text
man/GetCodeTree.Rd -text
man/GetData.Rd -text
man/GetHistory.Rd -text
man/GetMapping.Rd -text
man/GetMetadata.Rd -text
man/GetRestCall.Rd -text
man/GetTableData.Rd -text
man/GetTestEnvironment.Rd -text
man/KeyDefinition-class.Rd -text
man/MappingTableKey-class.Rd -text
man/Metadata-class.Rd -text
man/MetadataElement-class.Rd -text
man/NullToNa.Rd -text
man/Pivoting-class.Rd -text
man/PostRestCall.Rd -text
man/PutRestCall.Rd -text
man/SaveBlockMetadata.Rd -text
man/SaveData.Rd -text
man/SaveValidation.Rd -text
man/SetTableData.Rd -text
man/cleanMetadata.Rd -text
man/normalizeData.Rd -text
man/swsContext.Rd -text
