import(RCurl)
import(RJSONIO)
import(data.table)

exportClasses(
	Dimension,
	DatasetKey,
	MappingTableKey,
	Pivoting
)

export(
	Dimension,
	"addKey<-",
	DatasetKey,
	MappingTableKey,
	Pivoting,
	KeyDefinition,
	MetadataElement,
	Metadata,
	BlockMetadata,
	BlockMetadataSet,
	GetData,
  GetMetadata,
	GetCodeList,
	GetCodeTree,
	GetHistory,
	GetMapping,
	GetBlockMetadata,
	SaveData,
	SaveValidation,
	SaveBlockMetadata,
	GetTestEnvironment,
	GetTableData,
	SetTableData,
	NullToNa,
	GetDomainNames,
	GetDatasetNames,
	GetDatasetConfig,
	SetClientFiles,
	CheckDebug,
	.buildModifiedCells

)
